<h1>Welcome</h1>
<div class="container">
  <p>welcome Mr./Ms. {{name}} </p>
  Welcome to our awesome App. <br/>
  You can manager your todos <a routerLink="/todos">here</a>
</div>
<div class="container">
  Click Here to get a customized welcome message.
  <button class="btn btn-primary" (click)="getWelcomeMessage()">
    Welcome Message
  </button>
</div>
<div class="container" *ngIf="messageFromService">
  Your customized message, <h2> {{messageFromService}} </h2>
</div>
<div class="container">
  <input type="text" [(ngModel)]="param" />
  <button class="btn btn-primary" (click)="getParamMessage()">Param Message</button>
</div>
<div class="container" *ngIf="paramMessageFromService">
  Your customized param message, <h3> {{ paramMessageFromService }} </h3>
</div>
